body {
    font-family: arial;
    background-color: magenta
}



.text {
    margin: 0 auto;
    text-align: center
}

.container {
    display:block;
    margin-bottom: 10px
}

.row {
    position: relative;
    display:block;
    height: 100px;
    width: 325px;
    margin: 0 auto
}

p {
    font-size: 14px;
    margin: 10px
}

.box {
    height: 100px;
    width: 100px;
    display:inline-block;
    border-style: solid;
    border-color: black;
    

}

.box-top {

    border-top-style: none;

}

.box-bottom {
    border-bottom-style: none;
}

.box-left {
    border-left-style: none;
}

.box-right {
    border-right-style: none;
}

.xImage {
    height: 100%;
    width: 100%;

}

.oImage{
    height: 100%;
    width: 100%;
    

   
}

.hidden {
    display: none;
}

